<section class="container">
    <header class="header d-flex">
        <h2 class="ff-inter">Meu Mural</h2>
        <button (click)="direcionarPensamento()" class="botao">Adicionar pensamento</button>
    </header>

    <div *ngIf="listaPensamentos.length > 0, else semPensamentos">
        <div class="mural" *ngFor="let pensamento of listaPensamentos">
            <div class="pensamento {{ pensamento.modelo }} ff-roboto-mono" [ngClass]="larguraPensamento()">
                <img src="/assets/imagens/{{ pensamento.modelo}}.png" alt="Aspas coloridas">
                <p class="conteudo"> {{ pensamento.conteudo }} </p>
                <p class="conteudo"> <b>{{ pensamento.autoria }}</b> </p>
                <div class="acoes">
                    <button class="botao-editar">
                        <img src="/assets/imagens/icone-editar.png" alt="Icone editar">
                    </button>
                    <button (click)="delete()" class="botao-excluir">
                        <img src="/assets/imagens/icone-excluir.png" alt="Icone excluir">
                    </button>
                </div>
            </div>
        </div>
    </div>
    <ng-template #semPensamentos>
        <div class="ff-inter sem-pensamentos">
            <p>Ainda não há pensamentos cadastrados!</p>
        </div>
    </ng-template>
</section>